In [12]:
import pandas as pd

In [13]:
ls fix

 O volume na unidade D ‚ Arquivo
 O N£mero de S‚rie do Volume ‚ 8CE5-1959

 Pasta de D:\Estudo\Python\Django\gestao_estoque\fix

23/04/2023  13:46    <DIR>          .
27/04/2023  00:48    <DIR>          ..
27/04/2023  00:48             2.909 produtos.csv
23/04/2023  13:46            28.160 produtos.xls
23/04/2023  02:32            10.935 produtos.xlsx
25/04/2023  00:53               819 produtos_exportados.csv
               4 arquivo(s)         42.823 bytes
               2 pasta(s)   456.478.392.320 bytes dispon¡veis

In [14]:
df = pd.read_csv('fix/produtos.csv', sep=',', encoding='latin-1')

In [15]:
df

,produto,ncm,importado,preco,estoque,estoque_minimo
0,Apontador,14669768,True,15.54,125,30
1,Caderno 100 folhas,44716505,True,6.52,120,10
2,Caderno capa dura 200 folhas,61556783,False,24.46,92,20
3,Caneta esferográfica azul,80951350,False,11.42,138,20
4,Caneta esferográfica preta,19009230,True,3.71,148,40
...,...,...,...,...,...,...
57,Sapatilhas de desporto,24190558,False,12.44,31,30
58,Stick de cola,34110222,False,10.41,187,10
59,Toalha,42752411,False,23.03,159,30
60,Transferidor,40709929,False,26.92,32,20
61,Tubo de cola,41795932,False,8.27,176,10

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   produto         62 non-null     object
 1   ncm             62 non-null     int64
 2   importado       62 non-null     bool
 3   preco           62 non-null     float64
 4   estoque         62 non-null     int64
 5   estoque_minimo  62 non-null     int64
dtypes: bool(1), float64(1), int64(3), object(1)
memory usage: 2.6+ KB

In [17]:
df.head()

,produto,ncm,importado,preco,estoque,estoque_minimo
0,Apontador,14669768,True,15.54,125,30
1,Caderno 100 folhas,44716505,True,6.52,120,10
2,Caderno capa dura 200 folhas,61556783,False,24.46,92,20
3,Caneta esferográfica azul,80951350,False,11.42,138,20
4,Caneta esferográfica preta,19009230,True,3.71,148,40

In [18]:
df.tail()

,produto,ncm,importado,preco,estoque,estoque_minimo
57,Sapatilhas de desporto,24190558,False,12.44,31,30
58,Stick de cola,34110222,False,10.41,187,10
59,Toalha,42752411,False,23.03,159,30
60,Transferidor,40709929,False,26.92,32,20
61,Tubo de cola,41795932,False,8.27,176,10